.logo {
  width: 3em;
  height: auto;
}
.brown {
  color: rgb(177, 160, 137);
}
.brown-bg {
  background-color: rgb(177, 160, 137);
}
.divider {
  height: 10px;
  color: rgb(177, 160, 137);
  background: rgb(177, 160, 137);
  margin-left: 1em;
  margin-right: 1em;
}
.lightbrn-bg {
  background-color: rgba(219, 210, 197, 0.15);
  margin-left: 1em;
  margin-right: 1em;
}

.bg-image {
  width: 22%;
  margin: 1%;
}
.container-fluid {
  margin-left: 1em;
  margin-right: 1em;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  background-color: rgba(219, 210, 197, 0.15);
  padding: 5em;
}
.title {
  padding-top: 5em;
  padding-bottom: 8em;
  text-align: center;
  background-size: cover;
  background-color: rgba(219, 210, 197, 0.15);
  /*
  background-image: url("Banner.png");
  */
  margin-left: 1em;
  margin-right: 1em;
}
.dkbrwn {
  color: rgb(177, 160, 137);
  font-size: 400%;
}
.image-col {
  width: 100%;
  margin-bottom: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  color: rgb(177, 160, 137);
  text-align: center;
  margin-top: 1em;
}
h3 {
  color: rgb(177, 160, 137);
  margin-top: 1em;
}
h6 {
  color: rgb(177, 160, 137);
  margin-top: 1em;
}